@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --fill: 240 5% 11.5%;
        --background: 240 5% 10%;
        --foreground: 0 0% 95%;

        --primary: 200 95% 75%;
        --primary-foreground: 240 5% 10%;
        --primary-hover: 200 95% 85%;

        --success: 155 72% 65%;
        --success-foreground: 240 5% 10%;
        --success-hover: 155 72% 75%;

        --warning: 50 100% 70%;
        --warning-foreground: 240 5% 10%;
        --warning-hover: 50 100% 80%;

        --destructive: 0 60% 70%;
        --destructive-foreground: 240 5% 10%;
        --destructive-hover: 0 60% 80%;

        --secondary: 240 5% 20%;
        --secondary-foreground: 0 0% 80%;
        --secondary-hover: 240 5% 25%;

        --muted: 240 4% 16%;
        --muted-foreground: 240 5% 70%;

        --card: 240 5% 15%;
        --card-foreground: 0 0% 95%;

        --popover: 240 5% 15%;
        --popover-foreground: 0 0% 95%;

        --accent: 240 5% 15%;
        --accent-foreground: 0 0% 95%;

        --border: 240 5% 20%;
        --input: 240 5% 22%;
        --ring: 240 5% 70%;
        --radius: 0.5rem;
    }

    * {
        border-color: hsl(var(--border));
    }

    body {
        font-family: 'Inter', 'Inter Fallback';
        color: hsl(var(--foreground));
        background-color: hsl(var(--background));
        overflow-y: initial !important;
        margin-right: 0 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
